.todo{
	border-radius: 8px;
    padding: 10px;
    border: 1px solid #eee;
    margin-top: 15px;
	width: 100%;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
}
.todo__title {
	width: 100%;
	text-align: start;
}
.todo__btn{
 	width: 40px;
 	height: 30px;
 	padding: 0;
 	float: right;
 	margin-left: 10px;
}
.checkbox {
	height: 30px;
    width: 30px;
    margin-right: 10px;
}
.todo__input{
	width: 100%;
}
.container {
	width: 600px;
	box-sizing: border-box;
	position: relative;
	padding:0 10px

}
@media (max-width: 590px) {
	.container {
	width: 100%;
	}
}
