.container {
	width: 600px;
	box-sizing: border-box;
	position: relative;
	padding:0 10px

}
@media (max-width: 590px) {
	.container {
	width: 100%;
	}
}
.todos {
	background-color: rgb(63, 60, 60);
	width: 100%;
	border-radius: 8px;
	padding: 10px 20px;
	box-sizing: border-box;
}
