.search {
    width: 100%;
}
.input {
	width: 100%;
	height: 50px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 20px;
	border:none;
	border-radius: 8px;

}
.input__btn{
	position: absolute;
	background-color: #121212;
	right: 182px;
    top: 72px;
    padding: 5px;
}
